@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge{
    @apply px-3 py-1 rounded-full text-xs bg-gray-100
  }
}

@layer base {
  body{
    font-family: 'Readex Pro', sans-serif;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243 244 246);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
